* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

#navigation ul {
    display: flex;
    background-color: blueviolet;
    justify-content: space-between;
}

#navigation ul li {
    list-style: none;

}

#navigation ul li a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    background-color: blueviolet;
}

#navigation ul li.active a {
    background-color: rgb(67, 42, 91);
}

#navigation ul li+li {
    margin-left: 3.5%;
}

.sub-navigation {
    display: flex;
    gap: 2rem;
}

.sub-navigation a {
    text-decoration: none;
}

.sub-navigation li {
    list-style: none;
}